<footer class="footer">
  <div class="container">
    <div class="footer-sections">
      <div class="row">
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            {{ site.title }}
          </h1>
          <div class="footer-sections-element-description">
            {{ site.title }} は、{{ site.description_long }}
          </div>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            #{{ site.hashtag }}
          </h1>
          <div class="footer-sections-element-description">
            {{ site.title }} への感想や質問などは、Twitterのハッシュタグ <a href="https://twitter.com/search?q=%23{{ site.hashtag }}" target="_blank">#{{ site.hashtag }}</a> または、<a href="https://researchat.fm/form.html">お問い合わせ</a>からお便りをお送りください。
          </div>
          <div class="footer-twitter">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?hashtags={{ site.hashtag }}&url={{ site.github.url }}">
              Tweet
            </a>
						<a href="https://twitter.com/researchat_fm?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @researchat_fm</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            Subscription
          </h1>
          <div class="footer-sections-element-description">
            新しいエピソードの配信を以下の方法で購読できます。
          </div>
          <ul>
            {% if site.itunes_podcast_url %}
              <li>
                <a href="{{ site.itunes_podcast_url }}" target="_blank">iTunesで購読</a>
              </li>
            {% endif %}
            <li>
              <a href="http://subscribeonandroid.com/{{ site.github.url | remove: "https://" | remove: "http://" }}/feed.xml" target="_blank">Androidで購読</a>
            </li>
            <li>
              <a href="https://open.spotify.com/show/6pqHenuqtkEpnFg9tShg4J" target="_blank">Spotifyで購読</a>
            </li>
 
            <li>
              <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9yZXNlYXJjaGF0LmZtL2ZlZWQueG1s" target="_blank">Google Podcastsで購読</a>
            </li>
 
            <li>
              <a href="https://push.dog/subscribe?url={{ site.github.url }}/feed.xml" target="_blank">Pushdogで購読</a>
            </li>
            <li>
              <a href="{{ site.github.url }}/feed.xml" target="_blank">RSSで購読</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="footer-copyright">
      Copyright © 2019- by <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </div>
  </div>
</footer>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.23.4/mediaelement-and-player.min.js"></script>
{% if site.google_analytics %}
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}


