<header class="header">
  <div class="header-overlay">
    <div class="container">
      <h1 class="header-heading">
        <a href="{{ site.github.url }}/">
          {{ site.title }}
        </a>
      </h1>
      <div class="header-description">
        {{ site.description }}
      </div>
      
      <div class="dropdown">
        <button class="dropbtn"><a href="/">Home</a></button>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Subscribe</button>
        <div class="dropdown-content">
          <a href="https://podcasts.apple.com/jp/podcast/researchat-fm/id1453892334?mt=2">Apple Podcasts</a>
          <a href="http://subscribeonandroid.com/researchat.fm/feed.xml">Android</a>
          <a href="https://open.spotify.com/show/6pqHenuqtkEpnFg9tShg4J">Spotify</a>
          <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9yZXNlYXJjaGF0LmZtL2ZlZWQueG1s">Google Podcasts</a>
          <a href="https://researchat.fm/feed.xml">RSS Feed</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Blog</button>
        <div class="dropdown-content">
          <a href="/about">About us</a>
          <a href="/blog">Blog</a>
        </div>
      </div>

      <div class="dropdown">
		  <button class="dropbtn"><a href="/references">References</a></button>
      </div>
       
      <div class="dropdown">
        <button class="dropbtn"><a href="/tags">Search</a></button>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Support</button>
        <div class="dropdown-content">
          <a href="https://twitter.com/researchat_fm">Twitter</a>
	  <a href="https://www.youtube.com/channel/UC2bDx3CfYJwqBKQHF-9j3FA">YouTube</a>
          <a href="/form.html">お便り</a>
        </div>
      </div>
      
    </div>
  </div>
</header>



