<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="main">
      <div class="container">
        <article class="article card">
          <header class="article-header card-header">
            <h1 class="card-heading">
              <a href="{{ page.url | prepend:site.github.url }}">
                {{ page.title }}
              </a>
            </h1>
            <div class="article-header-note">
              <p> {{ page.date | date: "%Y年%m月%d日" }} </p>
              <p> By {{ page.author }}</p>
            </div>
          </header>
          <section class="card-body markdown">
            {{ content }}
          </section>
          <footer class="article-footer">
          </footer>
        </article>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>


